export LWORKSPACE=$PWD
export PATH=$PWD/scripts:$PATH
export PLATFORM=qemu_x86_64
export KERNEL_VERSION=6.12.y-pvm
export BR2_O=$LWORKSPACE/output/br2
export KERNEL_O=$LWORKSPACE/output/kernel
export SHELLENV=$PWD/scripts/shellenv
